---
import NavigationButton from "./NavigationButton.astro";

const navigationItems = ["About", "Blog", "Projects"];
---

<nav class="hidden lg:flex gap-6">
	{navigationItems.map((item) => <NavigationButton label={item} />)}
</nav>

