---
import Navigation from "./navigation/Navigation.astro";
import { Hamburger } from "./hamburger/Hamburger";
---

<header
	class="fixed top-0 flex h-20 w-full flex-col justify-center px-4 md:px-6"
>
	<Navigation />
	<Hamburger client:load />
</header>
<div class="block h-20"></div>

