---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	pageTitle: string;
	withTitle?: boolean;
}

const footerLabel = "© 2024 Eugene Cheung. All rights reserved.";

const { pageTitle, withTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="flex flex-col min-h-screen bg-neutral-100">
			<Header />
			{
				withTitle && (
					<div class="flex items-center justify-between px-4 py-2 border-b">
						<span class="text-3xl font-bold">{pageTitle}</span>
					</div>
				)
			}
			<slot />
			<Footer label={footerLabel} />
		</div>
	</body>
</html>
